<extend name="Public::layout" />
<block name="head">
	<title>分配学生</title>
</block>
<block name="head">
	<style>
		.stu{
			float: left;
			width: 45%;			
			margin-top:2% ;
			margin-left:2% ;
			text-align: center;
		}
		input{
			width:70%;
		}
	</style>
</block>
<block name="main">
	<header>
		<hgroup>
			<h1>分配学生</h1>
			<h2>当前组员为：{$defense_teacher}</h2>
		</hgroup>
	</header>
	<div class="stu">
		   
		    <form id="auto" method="post" action="__CONTROLLER__/autoAddStudent">
			    <input name="studentNum" placeholder="请输入学生人数（只能将学生分配到没有指导老师的组别）" />
			    <input id="defense_group" name="defense_group" value="{$defense_group}" type="hidden" />
				<input id="year" name="year" value="{$year}" type="hidden" />
				<input id="status" name="status" value="{$status}" type="hidden" />
				<input id="ERG_group" name="ERG_group" value="{$ERG_group}" type="hidden" />
				<button class="blue">自动添加</button>
			</form>
			
				<table id="myTable" >
					<tr>
						<td colspan="4">已添加的学生</td>
					</tr>
					<tr>
						<td>学号</td>
						
						<td>姓名</td>
						<td>操作</td>
					</tr>
					<foreach name="defense_student" item="vo">
						<tr>
							<td>{$vo.Snum}</td>
							
							<td>{$vo.Sname}</td>
							<td><a href="__CONTROLLER__/deleteStudent/Snum/{$vo.Snum}">删除</a></td>
						</tr>				
					</foreach>
				</table>
				
				
			
	</div>	
	
	<div class="stu">
		 <form id="findAddStudent" action="__CONTROLLER__/findAddStudent" method="post">
		 	    <input id="year" name="year" value="{$year}" type="hidden" />
		 	    <input id="defense_group" name="defense_group" value="{$defense_group}" type="hidden" />
		 	    <input id="status" name="status" value="{$status}" type="hidden" />
			    <input name="num_name" placeholder="按学号添加"/>
			    <button>添加</button>
		 </form>
		<div id="student"></div>
	
		<div id="student_no"></div>
	</div>
	
	
	<script src="__PUBLIC__/public/js/jquery.min.js"></script>
	
	<script type="text/javascript">
			$(function(){
			var init_id = 1;			
			student(init_id);	//初始化页面 init_id==1
			student_no(init_id);
			
			});
			function student(id){
				var id   = id;
				var year = $("#year").val();
				var ERG_group = $("#ERG_group").val();
				var defense_group = $("#defense_group").val();
				var N             = "IN";
				var status        ={$status};
				//把数据传递到要替换的控制器方法中
				$.ajax({
				url:"__CONTROLLER__/ajaxShow",
				type:"GET",
				async:false,
				dataType:"JSON",
				data:{'p':id,'year':year,'ERG_group':ERG_group,'defense_group':defense_group,'N':N,'status':status},
				success:function(data){
			    
			  
				$("#student").replaceWith("<div  id='student' >"
             +data.content+
             "</div>");
				},
				error:function(data){
//				 console.log("4:ajax not run~");

				}
				});
			}
			function student_no(id){
				var id   = id;
				var year = $("#year").val();
				var ERG_group = $("#ERG_group").val();
				var defense_group = $("#defense_group").val();
				var N             = "NOT IN";
					var status        ={$status};
				//把数据传递到要替换的控制器方法中
				$.ajax({
				url:"__CONTROLLER__/ajaxShowStudentNo",
				type:"GET",
				async:false,
				dataType:"JSON",
				data:{'p':id,'year':year,'ERG_group':ERG_group,'defense_group':defense_group,'N':N,'status':status},
				success:function(data){
			
				
				$("#student_no").replaceWith("<div  id='student_no' >"
             +data.content+
             "</div>");
				},
				error:function(data){
//				 console.log("4:ajax not run~");

				}
				});
			}
	</script>
	
	
		
</block>