<extend name="Public:layout" />
<block name="head">
	<title>答辩评分</title>
</block>
<block name="main">
   <header>
   	  <hgroup>
   	  	 <h1>答辩评分</h1>
   	  </hgroup>
   </header>
   
   <table id="myTable">
   	    <tr>
   	    	<td>答辩组编号</td>
   	    	<td>教室</td>
   	    	<td>时间</td>
   	    	<td>学生列表</td>
   	    	<td>操作</td>
   	    </tr>
   	    <foreach name="data" item="vo">
   	    	<tr>
   	    		<td>{$vo.defense_group}</td>
   	    		<td>{$vo.class}</td>
   	    		<td>{$vo.time}</td>
   	    		<td>{$vo.STU}</td>
   	    		<td>
   	    			<a href="__CONTROLLER__/RgradeShowStudent/defense_group/{$vo.defense_group}">进入答辩组</a>
   	    		</td>
   	    	</tr>
   	    </foreach>
   </table>
   
</block>
