<extend name="Public:layout"/>
<block name="head">
	<title>新增教师</title>
</block>
<block name="head">
	<style>
		.field-wrap input,select{
		width:200px;
		margin-left: 20px;
	}
	.field-wrap span{
		width: 100px;
		font-weight: bold;
		font-size: 15px;
		display: inline-block;
	}
	</style>
</block>
<block name="main">
	<header>
		<hgroup>
			<h1>新增教师</h1>
		</hgroup>
	</header>
	<div class="content">
		
			
		<form id="information">
			
				<div class="field-wrap">
					<span>教师名称:</span>
					<input  type="text"  name="Tname" placeholder="请输入姓名"/>
				</div>
				<div class="field-wrap">
					<span>工号:</span>
					<input type="text"  name="Tnum" placeholder="请输入工号"/>
				</div>
				
				<div class="field-wrap">
					<span>研究方向:</span>
					<input type="text"  name="direction" placeholder="请输入研究方向"/>
				</div>
				
				<div class="field-wrap">
					<span>手机号码:</span>	
					<input type="text" name="phone"  placeholder="请输入手机号码"/>
				</div>
				<div class="field-wrap">
					<span>QQ号码:</span>
					<input type="text"  name="qq" placeholder="请输入QQ号码"/>
				</div>
				<div class="field-wrap">
					<span>邮箱:</span>
					<input type="text"  name="email" placeholder="请输入邮箱"/>
				</div>
				<div class="field-wrap">
					<span>教研室:</span>
					<select>
						<foreach name="erg" item="vo">
							<option value="{$vo.ERG_group}">{$vo.ERG_name}</option>
						</foreach>
					</select>
				</div>
						
				<div class="field-wrap ">
					<span>个人简介:</span>
					<textarea class="post" rows="5" name="Ttext" placeholder="请输入个人简介">{$Tinfo.Ttext}</textarea>
				</div>
				<button style="font-weight: bold;" id="save"  class="green">添加</button>
				<button style="font-weight: bold;"  class="">取消</button>
			
		</form>
		<script src="__PUBLIC__/teacher/js/jquery.min.js"></script>		
		<script type="text/javascript">
		$(function() {
			$('#save').bind('click',function() {				
				var data = $('#information').serialize();			
				var erg  = $('option:selected').val();
				$.ajax({
						    async : false,
						    cache : false,
						    data  : data+"&ERG_group="+erg,					    
						    type : 'POST',
						    url : '__CONTROLLER__/addTeaAction',
						    error : function() {
						        alert('添加失败 ');
						    },
						    success : function(data) {
						    	if(data==true){
						    		alert('添加成功');	
						    		window.location.href="__CONTROLLER__/index";
						       }else{
						       	    alert(data);
						       }
						    }
						});
				return false;
			})
		})
		</script>
	</div>
</block>